{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script>
            window.onload = function () {
                createClock();
                loadNextMonitorAfterWait(10000)
            }

            async function loadNextMonitorAfterWait(wait) {
                await sleep(wait);
                if ({{ monitor_id }} == 1) {
                    window.location.replace("http://localhost:8000/jenkins/monitor/2");
                } else if ({{ monitor_id }} == 2) {
                    window.location.replace("http://localhost:8000/jenkins/monitor/3");
                } else {
                    window.location.replace("http://localhost:8000/jenkins/monitor/1");
                }
            }

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            
            function createClock() {
                var currentDate = new Date();
                $('#date').text(zeroNumber(currentDate.getDate()) + "/" + zeroNumber(currentDate.getMonth() + 1) + "/" + currentDate.getFullYear())
                $('#clock').text(zeroNumber(currentDate.getHours()) + ":" + zeroNumber(currentDate.getMinutes()));
            }

            function zeroNumber(num) {
                if (num < 10)
                    num = "0" + num;
                return num;
            }
        </script>
    </head>
    <body>
        <div>
            <h1 id="date">28/04/2019</h1>
            <h1 id="title">{{title}}</h1>
            <h1 id="clock">00:00</h1>
        </div>
        {% for job in jobs %}
            <div class="background-{{ job.color }} job">
                <h3 style="width: 90%; margin: 5%;">{{ job.name }}</h3>
                {% if job.latest_build.building %}
                    <div class="progress" style="height: 30px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{job.latest_build.progress}}%" aria-valuenow="{{job.latest_build.progress}}" aria-valuemin="0" aria-valuemax="100">{{job.latest_build.progress}}%</div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div id="sonar-tile" class="grid-container">
            <div class="grid-item-1">
                <img src="{% static 'images/bug.png' %}" class="sonar-icon">
                <h2>{{ sonar.bugs.value }}</h2>
            </div>
            <div class="grid-item-2">
                <img src="{% static 'images/violation.svg' %}" class="sonar-icon">
                <h2>{{ sonar.violations.value }}</h2>
            </div>
            <div class="grid-item-3">
                <img src="{% static 'images/vulnerability.png' %}" class="sonar-icon">
                <h2>{{ sonar.bugs.value }}</h2>
            </div>
        </div>
    </body>
</html>