.background-blue, .background-blue_anime {
    background-color: lawngreen;
}

.background-disabled {
    background-color: darkgrey;
}

.background-aborted {
    background-color: lightgrey;
}

.background-red, .background-red_anime {
    background-color: #FF0001;
}

.background-yellow, .background-yellow_anime {
    background-color: #ffcc00;
}

.background-notbuilt {
    background-color: lightgrey;
}

.job {
    height: 150px;
    width: 30%;
    min-width: 300px;
    margin: 25px 25px 0px 25px;
    text-align: center;
    float: left;
    position: relative;
    border-radius: .50rem!important;
}

.progress {
    position:absolute;
    bottom:10;
    width: 90%;
    margin-left: 5%;
}

#title {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

#clock {
    color: white;
    float: right;
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 50px;
}

#sonar-tile {
    width: 70%;
    height: 100px;
    margin-left: 15%;
    background-color: grey;
    bottom: 10;
    position: absolute;
    border-radius: .50rem!important;
}

body {
    background-color:#282828 !important;
}

.grid-container {
    display: grid;
    width: 100%;
    text-align: center;
    height: 100%;
}

.grid-item-1 {
    grid-column: 1;
    grid-row: 1;
}

.grid-item-2 {
    grid-column: 2;
    grid-row: 1;
}

.grid-item-3 {
    grid-column: 3;
    grid-row: 1;
}