.background-blue, .background-blue_anime {
    background-color: lawngreen;
}

.background-disabled {
    background-color: darkgrey;
}

.background-aborted, .background-aborted_anime {
    background-color: lightgrey;
}

.background-red, .background-red_anime {
    background-color: #FF0001;
}

.background-yellow, .background-yellow_anime {
    background-color: #ffcc00;
}

.background-notbuilt, .background-notbuilt_anime {
    background-color: lightgrey;
}

.job {
    height: 150px;
    width: 30%;
    min-width: 300px;
    margin: 25px 25px 0px 25px;
    text-align: center;
    float: left;
    position: relative;
    border-radius: .50rem!important;
}

.progress {
    position:absolute;
    bottom:10;
    width: 90%;
    margin-left: 5%;
}

#title {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

#clock {
    color: white;
    float: right;
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 50px;
}

#date {
    color: white;
    float: left;
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 50px;
}

#sonar-tile {
    width: 70%;
    height: 100px;
    margin-left: 15%;
    background-color: lightgrey;
    bottom: 30;
    position: absolute;
    border-radius: .50rem!important;
}

body {
    /* background-image: url("../images/background.jpg"); */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg');
    width: 100%;
    background-color:#282828 !important;
    background-position: center;
    background-size: contain;
}

.grid-container {
    display: grid;
    width: 100%;
    text-align: center;
    height: 100%;
}

.grid-item-1 {
    grid-column: 1;
    grid-row: 1;
}

.grid-item-2 {
    grid-column: 2;
    grid-row: 1;
}

.grid-item-3 {
    grid-column: 3;
    grid-row: 1;
}

.sonar-icon {
    height:40px;
    margin-top: 10px
}

#build-monitor-list {
    margin-top: 25px;
    margin-left: 35%;
    width: 30%;
    height: 500px;
    background-color: lightgrey;
    text-align: center;
}

.centre-wrapper {
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

a:link, a:visited {
    color: white;
}